<!DOCTYPE html>

<html lang="en" ng-app="qanda"> <!--Bootstraping the AngularApp-->

<head>
  <meta charset="utf-8">
  <title>Front End Developer Quiz Game</title>
  <link rel="stylesheet" type="text/css" href="app.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-journal.css">
</head>

<body ng-controller="mainCtrl" class="container"><!--main Angular controller-->

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class= "jumbotron">

     <div class="progress progress-striped active">
        <div class="progress-bar" style="width:{{progressbarWidth}}%"></div>
      </div>

    <div ng-show= "showScore" ng-cloak><!--showScore hides all this div when all questions are answered and show score-->

      <h3 class="heading">{{currentQuestion.title}}</h3>
      <h4 class="question">{{currentQuestion.text}}</h4>
      <div class="alert alert-dismissible alert-warning" ng-if="!answersGiven[currentQuestion.id]" ng-cloak>
        <strong>Choose one answer</strong><!--if ans is chosen it hides-->
      </div>

        <div ng-repeat="option in currentQuestion.options" class="form-group" ng-cloak><!--Looping through the questions one by one-->
          <input ng-model="answersGiven[currentQuestion.id]" type="radio" value="{{option.id}}"> {{option.text}}<br><!--ngmodel[key] and value are stored in an object inside controller -->
         </div>
      </div>

      <button class="btn btn-success" ng-show="showScore" ng-click="submitAnswer()" ng-disabled = "!answersGiven[currentQuestion.id]">Submit</button><!--ng-disabled disables button if no answer is provided-->
      
      <div class="score" ng-show= "!showScore" ng-cloak>
      <p>Total score: {{score}}/100</p>
      <button type="submit" ng-click="tryAgain()" class="btn btn-primary btn-lg">Try Again</button>
      </div>

    </div>
  </div>
</div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
</body>

 </html>